{% extends "templates/web.html" %}

{%- block title -%}{{_("Setup Dropbox Backup")}}{%- endblock -%}

{% block page_content %}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator green'>{{_("Setup Dropbox Backup")}}</span>
	</div>
	<p>{{_("Click on Next button to generate dropbox access token.")}}</p>
	<div><a class='btn btn-primary btn-next'>{{ _("Next") }}</a></div>
</div>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
</style>
<script>
	{% include "templates/includes/setup_dropbox.js" %}
</script>
{% endblock %}